/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FAF3DD;
    color: #333;
}

header {
    background-color: #FFDAC1;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    color: #4B6587;
}

header p {
    font-size: 1rem;
    color: #4B6587;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

h2 {
    text-align: center;
    color: #4B6587;
    margin-bottom: 1rem;
}

h3 {
    text-align: center;
    color: #4B6587;
    margin-bottom: 1rem;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.member {
    background-color: #FFF5E1;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.member h3 {
    font-size: 1.1rem;
    color: #333;
}

.member p {
    color: #666;
    font-size: 0.9rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #FFDAC1;
    color: #4B6587;
    margin-top: 2rem;
    font-size: 0.9rem;
}
